.add-item {
	position: relative;
}

.add-item-btn {
	background-color: beige;
	border: 5px solid black;
	margin: 2px 2px 2px 2px;
	text-align: center;
	padding: 5px;
	width: 150px;
	height: 100px;
	float: left;
	position: relative;
	z-index: 1;
}
