.login {
	text-align: left;
	background-color: blanchedalmond;
}

.customer-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: blue;
}

.restaurant-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: red;
}

.create {
	background-color: gray;
}
